* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

@media screen and (min-width: 1193px) {
    main {
        width: 62.48vw;
    }

    .super-title i {
        margin-right:30px;
    }

    .contact-block, .about-block {
        font-size: 14px;
    }

    .force-bottom {
        bottom:0;
        width:100%;
        position:absolute;
    }
}

@media screen and (max-width: 1192px) {
    main {
        width: 100vw;
        flex-wrap:wrap;
    }

    .content-left {
        width:100vw!important;
    }
    .content-right {
        width:100vw!important;
    }

    .super-title i {
        margin-right:5px;
    }

    .infos-block td:nth-child(2) {
        font-size: 12px;
    }

    .infos-block .infos-subtitle {
        font-size: 12px;
    }

    .infos-block .infos-content {
        font-size: 12px;
    }
}

main {
    height: 100%;
    margin:auto;
    display: flex;
}

.content-left {
    width: 32.29%;
    border-top: solid 2px #7F8CBC;
    border-bottom: solid 2px #7F8CBC;
    border-left: solid 2px #7F8CBC;
    background-color: #9FAFEC;
    position:relative;
}

.content-right {
    position: right;
    border-right: solid 2px #CFCFCF;
    border-bottom: solid 2px #CFCFCF;
    border-top: solid 2px #CFCFCF;
    width: 67.71%;
    background-color: #FFFFFF;
    padding-left:7.81637717122%;
}

.content-left > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 64px;
    margin-bottom: 44px;
    height: auto;
    width: 55.95%;
    box-shadow: 0 0 0 2pt #7F8CBC;
    border-radius: 50%;
}

.banner {
    font-size: 20px;
    height: 48px;
    width: 100%;
    background-color: #4C5470;
    color: #9FAFEC;
    box-shadow: -2px 0px 0px 0px #696969;
    line-height: 48px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 36px;
}

.contact-block {
    list-style: none;
    color: #4C5470;
    padding-left: 12%;
    margin-bottom: 50px;
}

.contact-block li:not(:last-child) {
    margin-bottom: 22px;
}

.about-block {
    color: #4C5470;
    padding-left: 12%;
    padding-right: 12%;
    line-height: 22px;
    margin-bottom: 50px;
}

.hobbies-block {
    margin-top:-36px;
}

.hobbies-block ul {
    list-style: none;
    text-align:center;
    font-size:0;
    color:#4C5470;
}

.hobbies-block ul li {
    display:inline-block;
    border-radius: 50%;
    border:2px solid #4C5470;
    font-size:30px;
    margin:24px 6px 24px 6px;
    padding:5px;
}

.name {
    font-size: 60px;
    margin-top:100px;
    text-transform: uppercase;
    color:#4C5470;
}

.name span {
    color:#9FAFEC;
}

.job {
    font-size:20px;
    color: #4C5470;
    font-weight: bolder;
    margin-left:2px;
}

.job-sidebar {
    width: 78px;
    height: 2px;
    background-color: #9FAFEC;
    margin-top:2px;
    margin-bottom: 125px;
}

.super-title {
    font-size: 30px;
    text-transform: uppercase;
    color:#4C5470;
}

.super-title i {
    color:#9FAFEC;
}

.super-title-sidebar {
    width: 90%;
    height: 2px;
    background-color: #9FAFEC;
    margin-top:2px;
    margin-bottom: 40px;
}

.infos-block {
    margin-bottom:74px;
}

.infos-block-row {
    display:flex;
    flex-direction: row;
    margin-bottom:45px;
}

.infos-block-icon {
    flex: .45;
}

.infos-block-icon i {
    color:#9FAFEC;
}

.infos-block-date {
    flex: 2.7;
    vertical-align:top;
    font-weight:bold;
    color: #4C5470;
}

.infos-block-global-content {
    flex:6;
}

.infos-block-title {
    text-transform: uppercase;
    font-weight:bold;
    color: #4C5470;
    margin-bottom:5px;
}

.infos-block-subtitle {
    color: #4C5470;
    margin-bottom:10px;
}

.infos-block-content {
    width:85%;
    color: #4C5470;
    line-height:1.4;
}

.infos-block .infos-title {
    font-size: 24px;
}

.recommendations-content-block {
    color:#4C5470;
    display:inline-block;
    margin-bottom:50px;
}

.recommendations-content-block:first-child {
    margin-right:8vw;
}

.recommendations-name {
    font-weight:bold;
    margin-bottom:10px;
}

.recommendations-job, .recommendations-phone {
    font-weight:bold;
    margin-bottom:5px;
}